section img {
  border: 5px solid black;
  margin: 5px;
  width: 300px;
  height: 300px;
}

section {
  grid-template-columns: auto auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myChart {
  max-height: 500px;
  max-width: 1000px;
}
