body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 10px auto;
}
section img {
  border: 20px solid #ff6384;
  margin: 5px;
  width: 360px;
  height: 300px;
  border-radius: 100%;
}

section {
  grid-template-columns: auto auto auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myChart {
  height: 500px;
  width: 1000px;
  padding: 50px;
}

#chartsection {
  border: 20px solid #ff6384;
  background-color: lightgray;
  height: 700px;
  width: 1180px;
  flex-direction: column;
  display: none;
  flex-basis: content;
  margin-top: 5px;
  border-radius: 15px;
}

h1,
h2,
section {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  max-width: 1200px;
}

h2 {
  padding: 10px;
  background-color: #ff6384;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

h1 {
  padding: 10px;
  background-color: #ff6384;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 300%;
  font-weight: bold;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

#productContainer {
  display: grid;
  grid-template-columns: auto auto auto;
}
